@import "../../../../styles/variables";

.Product {
  background-color: rgba(map-get($gray, 100), 0.3);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  display: grid;
  grid-template-columns: 23% 74%;
  column-gap: 3%;
  box-shadow: 0 0 10px rgba(map-get($gray, 900), 0.1);

  h2 {
    font-size: 18px;
    font-weight: 700;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 2px;
    background-color: rgba(map-get($gray, 900), 0.3);
  }

  &__details {
    display: grid;
    gap: 8px;
  }

  &__amount {
    display: flex;
    gap: 8px;
  }
}
