@import "../../styles/variables";

.Cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  background-color: map-get($green, 600);
  padding: 60px;

  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 1rem;
    margin-top: 1rem;
    justify-content: start;
  }

  @media screen and (max-width: $md) {
    padding: 20px;
  }
}
